main {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .bg {
  height: 140vh;
  justify-content: flex-start;
}
main .bg .bloc-bg-contact {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  position: relative;
}
main .bg .bloc-bg-contact .bg-contact {
  width: 70%;
  height: 100%;
  background-color: rgba(226, 255, 231, 0.5);
  border-radius: 10px;
}
main .bg .bloc-bg-contact .article-contact {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  align-items: center;
}
main .bg .bloc-bg-contact .article-contact .bloc-text {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
}
main .bg .bloc-bg-contact .article-contact .bloc-text .cadre-image {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 2vw;
}
main .bg .bloc-bg-contact .article-contact .bloc-text .cadre-image img {
  height: 20%;
}
main .bg .bloc-bg-contact .article-contact .bloc-text .cadre-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}
main .bg .bloc-bg-contact .article-contact .bloc-text .cadre-div .div1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20%;
  font-family: "roboto";
  font-size: 1.3rem;
  color: white;
  margin-left: 2vw;
}
main .bg .bloc-bg-contact .article-contact .bloc-text .cadre-div .div2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20%;
  font-family: "roboto";
  font-size: 1.3rem;
  color: white;
  margin-left: 2vw;
}
main .bg .bloc-bg-contact .article-contact .bloc-text .cadre-div .div3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20%;
  font-family: "roboto";
  font-size: 1.3rem;
  color: white;
  margin-left: 2vw;
}
main .bg .bloc-bg-contact .article-contact .bg2 {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #a2dfb6;
  border-radius: 10px;
}
main .bg .bloc-bg-contact .article-contact .bg2 div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 13vh;
  margin-top: 2vh;
}
main .bg .bloc-bg-contact .article-contact .bg2 div:nth-child(1) .bulle-blanche {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: bubble1;
          animation-name: bubble1;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
  cursor: pointer;
}
@-webkit-keyframes bubble1 {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes bubble1 {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
main .bg .bloc-bg-contact .article-contact .bg2 div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 15vh;
}
main .bg .bloc-bg-contact .article-contact .bg2 div:nth-child(2) .bulle-blanche {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: bubble1;
          animation-name: bubble1;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  position: relative;
  cursor: pointer;
}
@keyframes bubble1 {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
main .bg .bloc-bg-contact .article-contact .bg2 div:nth-child(2) .bulle-blanche2 {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: bubble1;
          animation-name: bubble1;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  position: relative;
  cursor: pointer;
}
@keyframes bubble1 {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
main .bg .bloc-bg-contact .article-contact .bg2 div:nth-child(3) {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  height: 15vh;
}
main .bg .bloc-bg-contact .article-contact .bg2 div:nth-child(3) .bulle-blanche {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: bubble1;
          animation-name: bubble1;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  position: relative;
  cursor: pointer;
}
@keyframes bubble1 {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
main .bg .bloc-bg-contact .article-contact .bg2 div:nth-child(3) .bulle-blanche4 {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: bubble1;
          animation-name: bubble1;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  position: relative;
  cursor: pointer;
}
@keyframes bubble1 {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
main .bg .div-bg {
  width: 100%;
  height: 35vh;
  background-image: url(../image/pirate3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}/*# sourceMappingURL=style_contact.css.map */