main {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .bloc1-produit-rhum {
        .bloc-image-boussole {
            justify-content: flex-end;
            .image-boussole {
                width: 30vw;
                height: 40vh;
                background-image: url(../image/boussole.png);
                background-repeat: no-repeat;
                background-size: contain;
                display: flex;
            } 
        }
        .article1-dzama-rhum {
            width: 29vw;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background: url(../image/texture_wood.png);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 2vh;
            align-items: center;
            .text-article1-dzama {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 80%;
                height: 20vh;
                h4 {
                    font-size: 2rem;
                    font-family: 'unlock';
                    color: white;
                }
                p {
                    line-height: 3.5vh;
                    font-family: 'trirong';
                    font-size: 1rem;
                    color: white;
                }
            }
            .bloc-grosse-bouteille2 {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                height: 42vh;
                .grosse-bouteille2 {
                    width: 20vw;
                }
            }
        }
    }
}